body{
    font-family: 'PT Sans';
    margin: 10px;
    background-color: black;
    color: white;
}

header{
    background-color: #363535;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px;
    padding: 20px;

}

.competencias{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    justify-content: center;
}

.competencias h1{
}

footer{
    background-color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-content: space-between;
}